@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: white;
    font-family: "Roboto";
}

h1 {
    text-align: left;
    text-decoration: underline;
    padding-left: 1em;
}

p {
    font-family: "Roboto";
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
    padding-left: 2em;
}

    .form-wrapper > div {
        padding: 1em;
        text-align: center;
    }

    input {
        align-self: start;
    }


    /* label { 
        text-align: left;

        display: inline-block;
        width: 20%;
        margin-right: 3em;
    }

    input {
        text-align: left;
        display: inline-block;
        width: 20%;
    } */

    .addbtn {
        margin-top: 0.7em
    }

.wrapper {
    display: grid;
    margin: auto;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 70% 30%;
    text-align: left;
    padding-left: 1em;
}

.bookcards { background: white;}

    /* keep this for future modifications*/
    .bookcards > div:nth-child(odd) {
     background: #f5f5f5;
     width: 100%;
     padding-bottom: 1em;
    }

.bookcard {
    border: solid #d4d4d4 1px;
    margin-top: 0.6em;
    background: #f5f5f5;
    padding-top: 0.1em;
    padding-left: 1em;
    padding-right: 3em;
    padding-bottom: 0.5em;
    width: 100%;
    box-shadow: 1px 1px #bdbdbd;

}
    
/* .description {} */

    .actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .actions > p {
    
}

        .readtoggle {
            font-size: 13px;
        }

        .removebtn {
            
            font-size: 13px;
            color: #8b0000
        }
    

